html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    color: #aaffdd;
    overflow: hidden;
    font-family: "venus";
    font-size: 0.8em
}

canvas {
    display: block;
    margin: auto;

    width: 1044px;
    height: 640px;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper {
    width: 512px;
    margin: 0 auto;
    margin-top: 2em;
}

#instructions {
    float: left;
    font-family: sans-serif;
    color: #757575;
}

@font-face{
    font-family: "venus";
    src: url('./venus.ttf');
}